.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e7ff;
    color: #4338ca;
    width: 280px;
    height: 200px;
    border-radius: 5px;
    margin-top: 20px;
}